@import "../Styles/index.module.scss";
.header {
  background-color: black;
}

.sideSpacing {
  padding: 0 15px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.headerBarStart,
.headerBarEnd {
  display: flex;
  align-items: center;
}

.headerInput {
  border: solid 1px rgba($color: white, $alpha: 0.5);
  padding: 0 5px;
}

.Hamburger {
  display: flex;
}

.LogoWrapper,
.headerName,
.buttonWrapper,
.headerRightIconWrapper {
  margin-left: 15px;
}

@media (max-width: $responsive) {
  .headerInput {
    display: none;
  }

  .buttonWrapper:nth-child(n + 4) {
    display: none;
  }
}
