.header {
  background-color: black;
}

.headerPadding {
  padding: 0 15px;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.headerLeft,
.headerRight {
  display: flex;
  align-items: center;
}

.headerInput {
  border: solid 1px rgba($color: white, $alpha: 0.5);
  padding: 0 5px;
}

.headerHamburger {
  display: flex;
}

.headerLogoWrapper,
.headerName,
.headerRightButtonWrapper,
.headerRightIconWrapper {
  margin-left: 15px;
}

@media (max-width: 600px) {
  .headerInput {
    display: none;
  }

  .headerRightButtonWrapper:nth-child(n + 4) {
    display: none;
  }
}
