.buttonWrapper {
}

.menuButton {
  background-color: #fff;
  padding: 4px 7px;
  border-radius: 3px;
  color: #DEB887;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;

}
