@import "../Styles/index.module.scss";

.footer {
  margin-top: 40px;
}

.sideSpacing {
  padding: 0 15px;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.linkItem a {
  font-size: 12px;
}

.footerSpItem {
  display: none;
}

@media (max-width: $responsive) {
  .logo,
  .title {
    display: none;
  }

  .footerSpItem {
    display: block;
  }

  .footerSpItem {
    text-align: center;
  }
}
