.footer {
  margin-top: 40px;
}

.footerPadding {
  padding: 0 15px;
}
.footerContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.footerItem a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.footerSpItem {
  display: none;
}

@media (max-width: 600px) {
  .footerLogo,
  .footerTitle {
    display: none;
  }

  .footerSpItem {
    display: block;
  }

  .footerSpItem {
    text-align: center;
  }
}
